html,
body {
  margin: 0px;
  padding: 0px;
}
.flex-container {
  display: flex;
  flex-direction: row;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}
.alertContainer {
  background-color: white;
  width: 200px;
  color: black;
  div {
    border: 1px solid black;
  }
  div:hover {
    background-color: black;
    color: white;
  }
}
